model_list:
  - model_name: "claude-sonnet-4-20250514"
    litellm_params:
      model: "openai2claudecode/claude-sonnet-4-20250514"
      api_base: https://your-host
      api_key: sk-you-keys

  - model_name: "*"
    litellm_params:
      model: openai/*
      api_key: sk-you-keys
      api_base: https://your-host/v1

litellm_settings:
  num_retries: 0

  custom_provider_map:
    - provider: "openai2claudecode"
      custom_handler: "app.openai2claudecode_llm.instance"
